@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,500,300,600,700,800,900);

html{
    font-family: 'Raleway', sans-serif;
    font: 18px/27px;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
header{
	height: 10%;
	padding-top: 10%;
}

#mensagem{
    position: absolute;
    border: none;
    width: 100%;
    height: 2.5rem;
    padding-top: 1.5rem;
    background-color: #1A2733;
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
    display: none;
    color: #f5f5f5;
}
#form-logar{
    display: table;
    margin: auto;
    width: 30%;
    height: 70%;
    background-color: #1A2733;
}

#logo{
    text-align: center;
    padding: 2rem;
    color: #f5f5f5;
    font-size: 2rem;
}

input{
    display: block;
    margin-bottom: 1rem;
    width: 70%;
    margin-left: 13%;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
}

.input-form::-webkit-input-placeholder{
   color: #1A2733;
}

.input-form:-moz-placeholder { /* Firefox 18- */
   color: #1A2733;  
}

.input-form::-moz-placeholder {  /* Firefox 19+ */
   color: #1A2733;  
}

.input-form:-ms-input-placeholder {  
   color: #1A2733;  
}
#entrar{
    width: 40%;
    margin-left: 30%;
    border: none;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom:1rem;
    opacity: 0.9;
    border-radius: 0.2rem;
}
#entrar:hover{
    opacity: 1;
}

/*#carregar{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: none;
}

#carregar>img{
    position: absolute;
    top: 50%;
	left: 50%;
    margin-left: -75px;
	margin-top: -35px;
}*/


































